.button {
  position: relative;
  width: 400px;
  min-height: 73px;
  padding-left: 40px;
  border: 0;
  background-image:
    linear-gradient(to top, #efb400, #fcdb00),
    linear-gradient(to bottom, #ca3234, #ca3234);
  border-radius: 4px;
  box-shadow: 0 6px 0 0 #cf8800, 0 4px 24px 0 rgba(202, 50, 52, 0.36);
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;

  &:hover,
  &:focus {
    background-image:
      linear-gradient(to top, #d39f02, #efb400),
      linear-gradient(to bottom, #ca3234, #ca3234);
    box-shadow: 0 6px 0 0 #ca8500, 0 4px 24px 0 rgba(202, 50, 52, 0.36);
  }

  &_thanks {
    width: 100%;
    max-width: 400px;
    padding-right: 15px;
    padding-left: 15px;
  }

  &_modal {
    width: 100%;
    max-width: 400px;
    padding-left: 0;
    text-align: center;
  }

  &_form {
    width: 40%;
    max-width: 400px;
    text-align: left;

    &::before {
      position: absolute;
      top: 50%;
      right: 20px;
      width: 29px;
      height: 30px;
      content: url('/src/img/icons/pdf.svg');
      transform: translateY(-50%);

      @media (max-width: 1400px) {
        content: none;
      }
    }

    @media (max-width: 1400px) {
      padding-left: 0;
      text-align: center;
    }

    @media (max-width: 991px) {
      width: 100%;
    }
  }

  &_form-partner {
    padding-left: 0;
    text-align: center;

    &::before {
      top: 58%;
      right: -54px;
      width: 163px;
      height: 173px;
      content: url('/src/img/icons/clip.png');

      @media (max-width: 1300px) {
        right: -93px;
      }

      @media (max-width: 575px) {
        content: none;
      }
    }
  }

  &_calc {
    width: 100%;
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-left: 30px;
    margin-top: 90px;
    font-size: 21px;
    text-align: left;

    &::before {
      position: absolute;
      top: -47px;
      right: -9px;
      content: url('/src/img/recepie.png');

      @media (max-width: 1500px) {
        right: -47px;
      }

      @media (max-width: 575px) {
        content: none;
      }
    }

    @media (max-width: 1200px) {
      margin-top: 55px;
    }

    @media (max-width: 575px) {
      margin-top: 20px;
      font-size: 16px;
      text-align: center;
    }
  }

  &_desc {
    display: flex;
    width: 40%;
    max-width: 400px;
    align-items: center;
    justify-content: flex-start;
    padding-left: 29px;
    text-align: center;

    & span {
      font-size: 16px;
      font-weight: normal;
    }

    &::before {
      position: absolute;
      top: -60px;
      right: -30px;
      width: 146px;
      height: 156px;
      background-image: url('/src/img/sign.png');
      content: '';

      @include bg;

      @media (max-width: 1300px) {
        right: -88px;
      }

      @media (max-width: 575px) {
        content: none;
      }

      @media (max-width: 1200px) {
        top: -40px;
        right: -21px;
        width: 120px;
        height: 125px;
      }
    }

    @media (max-width: 1400px) {
      padding-left: 13px;
    }

    @media (max-width: 1200px) {
      padding-right: 90px;
    }

    @media (max-width: 991px) {
      width: 100%;
    }

    @media (max-width: 991px) {
      padding-right: 0;
      padding-left: 30px;
    }

    @media (max-width: 767px) {
      padding-left: 20px;
    }

    @media (max-width: 575px) {
      justify-content: center;
      padding-left: 0;
    }
  }
}

.button__text-wrapper {
  margin-bottom: 0;
}
