.feedback {
  min-height: 580px;
  padding-top: 263px;
  background-image: url('/src/img/bgs/feedback-bg.png');

  @include bg;

  @media (max-width: 1200px) {
    min-height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: $red;
    background-image: none;
  }
}

.feedback__scroll-btn {
  position: absolute;
  right: -100px;
  bottom: 57px;
  display: flex;
  width: 61px;
  height: 61px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0;
  background-color: #ebecf1;
  border-radius: 50%;
  color: #cc3a3c;
  font-size: 12px;
  line-height: 1.58;

  & img {
    margin-bottom: 5px;
  }

  @media (max-width: 1650px) {
    right: 11px;
    bottom: -34px;
  }
}
