.form-modal {
  position: relative;
  overflow: hidden;
  width: 98%;
  max-width: 500px;
  padding-top: 32px;
  padding-right: 15px;
  padding-bottom: 92px;
  padding-left: 15px;
  border: solid 16px #ec3739;
  background-color: white;

  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 59px;
    background-image: url('/src/img/bgs/form-bg.png');
    background-size: cover;
    content: '';
  }
}

.form-modal__title {
  margin-bottom: 30px;
  color: #1b1b1b;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.form-modal__input-box {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 42px;
}

.form-modal__input {
  width: 100%;
  max-width: 400px;
  padding-top: 20px;
  padding-right: 11px;
  padding-bottom: 20px;
  padding-left: 11px;
  border: solid 1px #d1d4d9;
  margin-right: 0;
  margin-bottom: 15px;
  border-radius: 4px;
  color: rgba(27, 27, 27, 0.99);
  font-size: 18px;

  &::-webkit-input-placeholder {
    color: rgba(27, 27, 27, 0.5);
  }

  &::-moz-placeholder {
    color: rgba(27, 27, 27, 0.5);
  }

  &:-ms-input-placeholder {
    color: rgba(27, 27, 27, 0.5);
  }

  &:-moz-placeholder {
    color: rgba(27, 27, 27, 0.5);
  }

  &:focus,
  &:hover {
    border: solid 1px #ca3234;
  }

  &:focus {
    outline: none;
  }
}

.form-modal__policy-text {
  margin-bottom: 0;
  color: #1b1b1b;
  font-size: 15px;
  text-align: center;

  button {
    padding: 0;
    border: 0;
    background-color: transparent;
    color: $red;
    font-size: 15px;
    text-decoration: underline;
  }
}
