.gallery {
  margin-top: 130px;
  margin-bottom: 100px;

  @media (max-width: 1200px) {
    margin-top: 70px;
  }

  @media (max-width: 575px) {
    margin-top: 30px;
  }
}

.gallery__title {
  margin-bottom: 46px;
  font-size: 44px;
  font-weight: bold;

  span {
    color: #cc3a3c;
  }

  @media (max-width: 767px) {
    font-size: 39px;
  }

  @media (max-width: 575px) {
    font-size: 23px;
    text-align: center;
  }
}

.gallery__text {
  margin-bottom: 47px;
  font-size: 18px;
  line-height: 1.44;

  @media (max-width: 575px) {
    font-size: 15px;
  }
}

.gallery__video-box {
  position: relative;
  width: 100%;
  max-width: 1000px;
  padding-bottom: 39.25%;
  margin-right: auto;
  margin-bottom: 70px;
  margin-left: auto;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-width: 0;
    outline-width: 0;
  }

  @media (max-width: 1300px) {
    padding-bottom: 45.25%;
  }

  @media (max-width: 1000px) {
    padding-bottom: 56.25%;
  }
}
