.owner {
  position: relative;
  z-index: 1;
  top: -47px;
  min-height: 1047px;
  padding-top: 272px;
  padding-bottom: 311px;
  margin-bottom: -47px;
  background-image: url('/src/img/bgs/owner-bg.png');

  @include bg;

  @media (max-width: 1450px) {
    top: -330px;
    margin-bottom: -330px;
  }

  @media (max-width: 1200px) {
    top: -370px;
    margin-bottom: -370px;
  }

  @media (max-width: 991px) {
    padding-top: 230px;
  }

  @media (max-width: 767px) {
    top: -250px;
    margin-bottom: -250px;
  }

  @media (max-width: 575px) {
    top: -190px;
    padding-top: 190px;
    padding-bottom: 255px;
    margin-bottom: -190px;
  }
}

.owner__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  @media (max-width: 991px) {
    flex-direction: column;
    align-items: center;
  }
}

.owner__img {
  padding-right: 110px;

  @media (max-width: 1450px) {
    padding-right: 30px;
  }

  @media (max-width: 991px) {
    width: 100%;
    max-width: 397px;
    padding-right: 0;
    margin-bottom: 20px;
  }
}

.owner__title {
  width: 100%;
  max-width: 545px;
  margin-bottom: 37px;
  color: white;
  font-size: 44px;
  font-weight: bold;
  line-height: 50px;

  @media (max-width: 767px) {
    font-size: 38px;
  }

  @media (max-width: 575px) {
    font-size: 22px;
    line-height: 40px;
  }
}

.owner__quote {
  margin-bottom: 53px;
  color: white;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.38;

  @media (max-width: 767px) {
    font-size: 27px;
  }

  @media (max-width: 575px) {
    font-size: 18px;
  }
}

.owner__text-title {
  color: white;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.44;

  b {
    font-size: 21px;
  }
}

.owner__text {
  margin-bottom: 0;
  color: white;
  font-size: 18px;
  line-height: 1.44;

  @media (max-width: 575px) {
    font-size: 14px;
  }
}
